<p>Make a new figure here</p>
<form action="/figures" method="post">
  <br>figure name</br>
  <input type="text" name=:figure_name value="figure[name]">
  <br>figure title ids</br>
  <input type="text" name="figure[title_ids][]">
  <br>figure landmark ids</br>
  <input type="text" name="figure[landmark_ids][]">
  <br>landmark name</br>
  <input type="text" name="landmark[name]">
  <br>title name</br>
  <input type="text" name=:figure_name value="title[name]">
  <input type="submit" value="submit">
</form>
